@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
}

img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}

.card {
  width: 300px;
  padding: 1.9rem 1.2rem;
  text-align: center;
  border-radius: 8px;
  box-shadow: -1px 0 0.9em black;
}

.title {
  margin-bottom: 1rem;
  font-size: 1.5em;
  font-weight: 500;
  /* color: #f5f5f5; */
  color: rgba(17, 17, 17, 0.6);
}

/*Inputs*/
.field {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background: rgba(17, 17, 17, 0.6);
  border-radius: 4px;
  padding: 0.5em 1em;
}

.input-icon {
  height: 1em;
  width: 1em;
  fill: #f5f5f5;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #f5f5f5;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
}

input::placeholder {
  color: #f5f5f5;
}

/*Buttons*/
.btn {
  margin: 1rem;
  /* border: none; */
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 0.8em;
  text-transform: uppercase;
  padding: 0.6em 1.2em;
  background: rgba(17, 17, 17, 0.6);
  color: #f5f5f5;
  transition: all 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
}

.link,
span {
  color: #f5f5f5;
  text-decoration: none;
  display: block;
  font-size: 0.8em;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

/*Hover & focus*/
.field input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s;
}

.btn:hover {
  cursor: pointer;
  border: 1px solid white;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}
