* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --------------------- HOME --------------------- */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.bi-twitter {
  fill: #1c9aef;
}

/* --------------------- Left Panel --------------------- */

a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
  pointer-events: none;
  vertical-align: -0.125em;
}

.dropdown:hover {
  cursor: pointer;
}

/* --------------------- Center Panel --------------------- */
/* - Tweet Box - */
#user-message {
  resize: none;
  height: 180px;
  box-shadow: none;
}

/* Tweet Button */
.btn-color-1 {
  color: #fff;
  background-color: #1c9aef;
  border-color: #1c9aef;
  font-weight: bold;
}

.btn-color-1:hover,
.btn-color-1:active,
.btn-color-1:focus,
.btn-color-1.active {
  background: #1376b8;
  color: #fff;
  border-color: #1376b8;
}

.mobile-logo {
  color: #1c9aef;
}

/* --------------------- Right Panel --------------------- */
/* - Search - */
#search {
  box-shadow: none !important;
  border: none;
  pointer-events: none;
}

/* - Happening - */
ul {
  list-style-type: none;
}

.show-more {
  color: #1c9aef;
}

/* --------------------- LOGIN --------------------- */

.signup-link a {
  pointer-events: auto;
  outline: none;
  color: #1c9aef;
}
.signup-link a:hover {
  text-decoration: underline;
}

.login-btn {
  border: 1px solid #1c9aef;
  color: #1c9aef;
}

.login-btn:hover {
  background-color: #1c9aef;
  color: white;
  border: 1px solid #1c9aef;
}

/* --------------------- REGISTER --------------------- */

.signup-btn {
  border: 1px solid #1c9aef;
  color: #1c9aef;
}

.signup-btn:hover {
  background-color: #1c9aef;
  color: white;
  border: 1px solid #1c9aef;
}

.login-link a {
  pointer-events: auto;
  outline: none;
  color: #1c9aef;
}
.login-link a:hover {
  text-decoration: underline;
}
